#nags-a-lot-modal {
   position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.95);

    z-index: 1030;
}


#nags-a-lot-content {
	width: 250px;
	height: 250px;
	margin: auto;
	color: black;
	background-color: white;
	border: 3px solid #73AD21;
	position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
  position: absolute; width: 100%; height: 100%; overflow-y: scroll
}

.nags-a-lot-button {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.nags-a-lot-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.nags-a-lot-button:active {
	position:relative;
	top:1px;
}

.row > a {
	text-decoration: none;
	color: black;
}

.nags-a-lot-popup-button {
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #1F497D;
    margin-top: 5px;
    font: 1.5em;
    padding-left: 20px;
}

.container  label {
	display: block;
	font-weight: bold;
	font-size: 1.5em;
}

.container input[type=text] {
	padding-top: 4px;
}

.container img  {
	vertical-align:middle;
	display: inline-block;
}

.container table tr td .site-root {
	font-size: 1.25em;
}

.container .plus-site {
	margin-bottom: 5px;
	display: inline-block;
} 

.nags-a-lot fieldset {
    font-family: sans-serif;
    border: 2px solid #1F497D;
    background: #ddd;
    border-radius: 3px;
    padding: 5px;
    margin-top: 20px;
}

.nags-a-lot fieldset legend {
    background: #1F497D;
    color: #fff;
    padding: 5px 10px ;
    font-size: 1.1em;
    border-radius: 2px;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: 5px;
}