#nags-a-lot-modal {
   position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.95);

    z-index: 1030;
}


#nags-a-lot-content {
	width: 250px;
	height: 250px;
	margin: auto;
	color: black;
	background-color: white;
	border: 3px solid #73AD21;
	position: fixed;
	padding: 5px;
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    border: 2px dashed black;
        box-shadow: inset 0 -1px 0 0 gray, inset 0 1px 0 0 gray, 0 1px 0 0 gray, 0 -1px 0 0 gray;
}

#nags-a-lot-content h2 {
	    font-size: 16px;
    color: #ddddd1;
    font-weight: 700;
    margin-bottom: 2px;
    text-shadow: 1px 1px 1px #222;
    letter-spacing: 1px;
    font-family: inherit;
    word-spacing: normal;
    line-height: 18px;
    margin: 0;
    text-align: center;
    
}
@media screen, projection 
#nags-a-lot-content button {
	margin: auto;
	width: 110px;
	border: 0;
	background-color: white;
	font: bold black;
	padding: 0;
	padding-top:5px;
	color: black;
	display: inline;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
  position: absolute; width: 100%; height: 100%; overflow-y: scroll
}
.row > a {
	text-decoration: none;
	color: black;
}

.nags-a-lot-popup-button {
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #1F497D;
    margin-top: 5px;
    font: 1.5em;
    padding-left: 20px;
}

.container  label {
	display: block;
	font-weight: bold;
	font-size: 1.5em;
}

.container input[type=text] {
	padding-top: 4px;
}

.container img  {
	vertical-align:middle;
	display: inline-block;
}

.container table tr td .site-root {
	font-size: 1.25em;
}

.container .plus-site {
	margin-bottom: 5px;
	display: inline-block;
} 

.nags-a-lot fieldset {
    font-family: sans-serif;
    border: 2px solid #1F497D;
    background: #ddd;
    border-radius: 3px;
    padding: 5px;
    margin-top: 20px;
}

.nags-a-lot fieldset legend {
    background: #1F497D;
    color: #fff;
    padding: 5px 10px ;
    font-size: 1.1em;
    border-radius: 2px;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: 5px;
}